body{
    background-color: #f2f2f2;
    width: 35%;
    display: block;
    margin: auto;
}
#login, #signup,.flex{
    display: flex;
    flex-direction: column;
    padding: 3%;
}
h1{
    text-align: center;
}
.flex{
   margin-left: 38%;
}
input{
 padding: 1%;
}

img{
    width: 31%;
   cursor: pointer;
}
#logoutbtn{
    justify-content: center;
    padding: 5px;
    width: 95px;
    margin:5px 1px;
    background-color: rgb(255, 128, 0);
    color: rgb(250, 252, 253);
    font-weight: bolder;
}
